<configuration>
  <system.serviceModel>
    <behaviors>

      <endpointBehaviors>
        <behavior name="webHttp">
          <!--<webHttp helpEnabled="true" automaticFormatSelectionEnabled="true"/>-->
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="ServiceBehaviors">
          <!-- 将下列元素添加到服务行为配置中。 -->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>

    </behaviors>

    <services>
      <service behaviorConfiguration="ServiceBehaviors" name="WCFService.TileService">
        <endpoint address="" behaviorConfiguration="webHttp" binding="webHttpBinding"
          contract="WCFService.ITileService" />
      </service>
    </services>
  </system.serviceModel>

  <system.web>
    <compilation debug="true"/>
  </system.web>

</configuration>
